@use "_variables" as *;

#capacities {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stations-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.station-container {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 1.05rem;
    .identifier {
        font-weight: 600;
        display: inline-block;
        width: 8ch;
    }

    .capacity-bar {
        width: calc(30%);
        border-radius: 10px;
        background-color: var(--bg-color);

        // span {
        //     background-color: var(--active);
        // }
    }

    .capacity-label {
        font-weight: bold;
        padding-right: 10px;
        border-right: 1px solid var(--bg-color);
        width: 5ch;
    }
}

#alert-setter {
    // width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    gap: 4px;
    align-self: flex-end;
    
    border: none;
    background-color: var(--bg-color);
    padding: 10px 15px;
    border-radius: 10px;

    font-size: 0.95rem;
    font-weight: 600;
    cursor: pointer;

    svg {
        width: 20px;
    }
}

#alert-modal {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: var(--card-color);
    padding: 50px;
    border-radius: 20px;
    // border: 1px solid black;
}