$gap: 20px;
$padding: 0;
// $padding: 0 calc(50px + 1vw) ;

:root {
    font-size: 12pt;
    --bg-color: #ececec;
    --dark-gray: #242424;
    --card-color: #FFFFFF;
    --active: #000000;
    --green: #11c700;
    --yellow: #f8af10;
    --red: #f03304;
}

