@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
$gap: 20px;
$padding: 0;
$padding: calc(10px + 1vh) calc(10px + 1vw);
$font: "Inter", sans-serif;

:root {
    font-size: 10pt;
    --bg-fill: #ececec;
    --bg-color: #ececec;
    --dark-gray: #030101;
    --card-color: rgba(255,255,255,1);
    --active: #000000;
    --green: #238823;
    --yellow: #FFBF00;
    --red: #D2222D;
}

