$gap: 20px;
$padding: 0;
$padding: calc(10px + 1vh) calc(10px + 1vw);

:root {
    font-size: 10pt;
    --bg-color: #ececec;
    --dark-gray: #242424;
    --card-color: #FFFFFF;
    --active: #000000;
    --green: #238823;
    --yellow: #FFBF00;
    --red: #D2222D;
}

